<strong>Olá, {{ organizer }}</strong>
<p>Foi feita uma nova inscrição no  <strong>Meetup</strong>:{{ name }}  organizado por você:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
  {{> footer }}